/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.body
{
background-color: #1a2325;
border-top: 3px solid #f8695a;
font-size: 16px;
color: #8e9191;
line-height: 24px;
}
.main
{
margin-left: auto;
margin-right: auto;
max-width: 1100px;
width: 95%;
}
.logo
{
margin-top: -2px;
}
.all-text
{
float:left;
width: 35%;
}
p
{
font-family: "lft-etica",sans-serif;
font-weight: 400;
}
article 
{
overflow: auto;
padding-bottom: 112px;
}
article:first-of-type
{
padding-top: 120px;
}
article:not(:last-of-type)
{
border-bottom: solid;
border-width: 1px;
border-color: #31393b;
}
article:not(:first-of-type)
{
padding-top: 107px;
} 
.p1s
{
padding-bottom: 21px;
}
.name
{
font-size: 36px; 
color: white; 
font-family: "quatro-slab",serif;
padding-bottom: 20px;
line-height: 36px;
}
.name2
{
font-size: 16px;
color: #484e4f;
font-family: "lft-etica",sans-serif;
font-weight: 300;
padding-bottom: 28px;
}
.headers
{
display: inline-block;
width: 40%;
}
.link
{
font-size: 16px;
font-family: "lft-etica",sans-serif;
font-weight: 400;
color: #01bfc1;
text-decoration: none;
display: block;
border-bottom: dotted;
border-width: 1px;
border-color: #31393b;
padding-bottom: 37px;
margin-bottom: 50px;
margin-top: 50px;
}
.cost
{
font-size: 24px;
color: #ffffff;
display: inline-block;
margin-right: 24px;
}
.buy
{
background-color: #01c2c3;
font-size: 14px;
font-family: "lft-etica", sans-serif;
font-weight: 600;
color: #ffffff;
padding-top:16px;
padding-bottom:16px;
padding-right: 40px;
padding-left: 40px;
text-decoration: none;
text-transform: uppercase;
}
.buy:hover
{
background-image: url("images/stripes.png");
}
.image
{
height: 80%;
width: 55%;
border: 6px solid white;
float: right;
}
.image3
{
height: 588px;
width: 55%;
border: 6px solid white;
float: right;
}
@media only screen and (max-width: 750px)
{
.image 
{
height: 500px;
width: 95%;
float: left;
}
.image3
{
height: 320px;
width: 95%;
float: left;
}
.main 
{
width: 400px;

}
.all-text
{
padding-top: 28px;
width: 95%;
}
.headers
{
width: 95%;
}
.name
{
font-size: 32px;
}
}
